<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="io.dcloud.H576E6CC7.DemoApp"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher_fallback"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.YuPao"
        tools:replace="android:allowBackup"
        tools:node="merge">

        <activity
            android:name="com.yupao.entry.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
